@model datezite.ViewModels.EditYourProfileViewModel
@using datezite.Models
@{
    ViewBag.Title = "EditYourProfile";
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

<h2></h2>
<div class="container-fluid">
    

    <div class="row" style="padding-left: 300px;">

        @using (Html.BeginForm("Update", "User"))
        {
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ApplicationUser.Förnamn)
                        @Html.TextBoxFor(m => m.ApplicationUser.Förnamn, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ApplicationUser.Sysselsättning)
                        @Html.TextBoxFor(m => m.ApplicationUser.Sysselsättning, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ApplicationUser.Kön)
                        @Html.DropDownListFor(m => m.ApplicationUser.Kön, new SelectList(Enum.GetValues(typeof(ApplicationUser.Gender))), " ", new { @class = "form-control" })
                    </div>

                </div>

                <div class="col">

                    <div class="form-group">
                        @Html.LabelFor(m => m.ApplicationUser.Efternamn)
                        @Html.TextBoxFor(m => m.ApplicationUser.Efternamn, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ApplicationUser.Ålder)
                        @Html.TextBoxFor(m => m.ApplicationUser.Ålder, new { @class = "form-control" })

                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-primary">Spara</button>
            <div class="form-group">
                @Html.LabelFor(m => m.ApplicationUser.Intressen)
                @Html.DropDownListFor(M => M.Interests, new SelectList(Model.Interests, "InterestID", "Name"), " ", new { @class = "form-control" })
                @*@Html.DropDownList("Intressen", ViewBag.intresseLista as SelectList, "Please select", new { @class = "form-control" })*@

            </div>
        }

    </div>
</div>


