@model datezite.Models.User
@{
    ViewBag.Title = "EditYourProfile";
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

<h2></h2>
<div class="container-fluid">
    <div class="row">
        
        
        
        
        
        
        
        
        
        
        
        
        
        <div class="col-lg-4 bg-warning">
            <div class="row">
                <div class="col-lg-6 bg-warning">
                    @using (Html.BeginForm("Update", "User"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Firstname)
                            @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Spara</button>}

                    @using (Html.BeginForm("Update", "User"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Work)
                            @Html.TextBoxFor(m => m.Work, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Spara</button>
                    }

                    @using (Html.BeginForm("Update", "User"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Gender)
                            @Html.TextBoxFor(m => m.Gender, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Spara</button>
                    }

                </div>
                <div class="col-lg-6">
                    @using (Html.BeginForm("Update", "User"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Lastname)
                            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Spara</button>}

                    @using (Html.BeginForm("Update", "User"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Hobbies)
                            @Html.TextBoxFor(m => m.Hobbies, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Spara</button>
                    }

                    @using (Html.BeginForm("Update", "User"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Age)
                            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Spara</button>

                    }


                </div>
            </div>
        </div>
    </div>
</div>


